*{
    padding: 0;
    margin: 0;
}
html{
    /* font-family: Arial, Helvetica, sans-serif; */
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.header{
    height: 80px;
    line-height: 80px;
    background-color: rgb(248, 243, 233);
    padding: 0 90px;
    z-index: 1;
}
.header ul li{
    display: inline-flex;
}
.menu1{
    float: left;
}
.menu2{
    float: right;
}
.header ul li a{
    color: black;
    text-decoration: none;
    padding: 0px 15px;
    font-size: 16px;
}
.header ul li a:hover{
    text-decoration: none;
    color: coral;
    background-color: lightblue;
}

/* =========== */
.sec1 .panner img{
    width: 100%;
}
.sec1{
    margin-top: 80px;
    
}
.Nei{
    margin: 40px;
}
.textBold{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.row > h1 > a{
    color: white;
    text-decoration: none;
}
.row > h1 > a:hover
{
    text-decoration: none;
    cursor: pointer;
    color: black;
    background-color: rgba(139, 136, 138,0.4);
}
.same{
    position: absolute;
    text-align: center;
}
.place{
    margin-top: 120px;
    margin-bottom: 120px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.h1song{
    margin: 190px 80px;
}
.same_img{
    width: 100%;
    padding: 15px;
}

.song{
    height: 510px;
   
}
.textfooter{
    font-weight: bold;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding-left: 15px;
}
p{
    padding-left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fotertext{
    text-decoration: underline;
    padding-left: 15px;
}
footer{
    background-color: rgb(212, 209, 203);
    padding: 15px;
    padding-bottom: 25px;
}
